alembic
Babel
blinker
certifi
chardet
click
dnspython
dominate
email-validator
Flask
Flask-Babel
Flask-Bootstrap
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-Paginate
Flask-SQLAlchemy
Flask-WTF
greenlet
httpie
idna
itsdangerous
Jinja2
langdetect
lxml
Mako
MarkupSafe
pandas
Pygments
PyJWT
PySocks
python-dateutil
python-dotenv
python-editor
pytz
redis
requests
requests-toolbelt
rq
six
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
scikit-learn
numpy

#requirements for Heroku
#psycopg2
gunicorn