<!DOCTYPE html>
<html lang="{{ get_locale() }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ _('Barkeeper') }}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- Including Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Including custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="{% block body_class %}default-page{% endblock %}">
    {% block nav_bar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Barkeeper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <div class="alert alert-info mb-0" role="alert">
                            {{ _('Welcome') }} {{ current_user.username }}!
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cocktails') }}">{{ _('Cocktails') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('specially4u') }}">{{ _('Specially4U') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('message') }}">{{ _('Messages') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">{{ _('Log Out') }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ _('Language') }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            {% for lang in config['LANGUAGES'] %}
                            <li>
                                <a class="dropdown-item" href="{{ url_for('set_language', lang_code=lang) }}" {% if
                                    session['lang']==lang %} class="active" {% endif %}>
                                    {{ lang.capitalize() }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">{{ _('Home') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">{{ _('Register') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">{{ _('Log In') }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <div class="container">
        {% block content %}
        {% if not current_user.is_authenticated %}
        <div class="alert alert-warning text-center mt-4">
            {{ _('Welcome to Barkeeper, please log in or register to continue.') }} <br>
            <a href="{{ url_for('login') }}">{{ _('log in') }}</a> | <a href="{{ url_for('register') }}">{{
                _('register') }}</a>
        </div>
        {% endif %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-auto">
        <div class="container p-4">
            <ul class="list-unstyled mb-0">
                <li><strong>{{ _('Contacts:') }}</strong></li>
                <li>{{ _('Phone:') }} +34 987654321</li>
                <li>{{ _('Email:') }} <a href="mailto:info@barkeeper.com">info@barkeeper.com</a></li>
                <li><strong>{{ _('Bar Address:') }}</strong></li>
                <li>Via delle Scimmie 10, Molazzana, Lucca, Italia</li>
                <li><strong>{{ _('Terms and Conditions:') }}</strong></li>
                <li>
                    <a href="{{ url_for('terms_conditions') }}" target="_blank">{{ _('View Terms and Conditions') }}</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>