<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ _('Barkeeper') }}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- Including Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Including custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="{% block body_class %}default-page{% endblock %}">
    {% block nav_bar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Logo or application name -->
            <a class="navbar-brand" href="{{ url_for('index') }}">Barkeeper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_authenticated %}
                    <!-- Show a welcome message and logout link for authenticated users -->
                    <li class="nav-item">
                        <div class="alert alert-info mb-0" role="alert">
                            {{ _('Welcome') }} {{ current_user.username }}!
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cocktails') }}">{{ _('Cocktails') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('specially4u') }}">{{ _('Specially4U') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('message') }}">{{ _('Messages') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">{{ _('Log Out') }}</a>
                    </li>
                    <!-- Language selection -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ _('Language') }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('set_language', lang='en') }}">English</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('set_language', lang='es') }}">Español</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('set_language', lang='it') }}">Italiano</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('set_language', lang='ca') }}">Català</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <!-- Show only login and register links for non-authenticated users -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">{{ _('Home') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">{{ _('Register') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">{{ _('Log In') }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <div class="container">
        {% block content %}
        <!-- Message for non-authenticated users -->
        {% if not current_user.is_authenticated %}
        <div class="alert alert-warning text-center mt-4">
            {{ _('Welcome to Barkeeper, please log in or register to continue.') }} <br>
            <a href="{{ url_for('login') }}">{{ _('log in') }}</a> | <a href="{{ url_for('register') }}">{{
                _('register') }}</a>
        </div>
        {% endif %}
        <!-- Content specific to each page will go here -->
        {% endblock %}
    </div>

    <!-- Including Bootstrap JS and dependencies -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>