{% extends "base.html" %}

{% block body_class %}index-page{% endblock %}

{% block title %}{{ _('Home') }}{% endblock %}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
    <h1 class="white-text">{{ _('Welcome to your personalized homepage,') }} {{ current_user.username }}!</h1>
    <p>{{ _('Here you can find content specific to your account.') }}</p>
    <!-- Add more content specific to authenticated users here -->
    {% else %}
    <h1 class="white-text">{{ _('Welcome to Barkeeper') }}</h1>
    <p class="white-text">{{ _('Please') }} <a href="{{ url_for('login') }}">{{ _('log in') }}</a> {{ _('or') }} <a
            href="{{ url_for('register') }}">{{ _('register') }}</a> {{ _('to get started.') }}</p>

    <!-- Selector de idioma solo para usuarios no autenticados -->
    <form action="{{ url_for('set_language') }}" method="post" class="language-selector">
        <label for="language" class="white-text">{{ _('Choose Language') }}</label>
        <select name="language" id="language" onchange="this.form.submit()">
            <option value="en" selected>English</option>
            <option value="es">Español</option>
            <option value="it">Italiano</option>
            <option value="ca">Català</option>
        </select>
    </form>
    {% endif %}
</div>
{% endblock %}