{% extends "base.html" %}

{% block body_class %}index-page{% endblock %}

{% block title %}{{ _('Home') }}{% endblock %}

{% block content %}
<div class="container">
    {% if current_user.is_authenticated %}
    <h1 class="white-text">{{ _('Welcome to your personalized homepage,') }} {{ current_user.username }}!</h1>
    <p>{{ _('At Barkeeper, we’re more than just a bar – we’re a team of expert bartenders passionate about sharing our
        love for cocktails. Our newly launched website offers a curated selection of our best creations, along with a
        unique feature where you can choose at least two ingredients, and we’ll suggest the perfect cocktail recipe for
        you. Whether you\'re an experienced mixologist or a cocktail enthusiast, Barkeeper is here to inspire and guide
        you in crafting delicious drinks at home. If you have any questions about cocktails or need recommendations,
        don’t hesitate to send us a message. We’re always happy to help!') }}</p>
    <!-- Add more content specific to authenticated users here -->
    {% else %}
    <h1 class="white-text">{{ _('Welcome to Barkeeper') }}</h1>
    <p class="white-text">{{ _('Please') }} <a href="{{ url_for('login') }}">{{ _('log in') }}</a> {{ _('or') }} <a
            href="{{ url_for('register') }}">{{ _('register') }}</a> {{ _('to get started.') }}</p>

    <!-- Language selector only for unauthenticated users -->
    <form method="post" action="{{ url_for('change_language', language='en') }}">
        <button type="submit">{{ _('English') }}</button>
    </form>
    <form method="post" action="{{ url_for('change_language', language='es') }}">
        <button type="submit">{{ _('Español') }}</button>
    </form>
    <form method="post" action="{{ url_for('change_language', language='it') }}">
        <button type="submit">{{ _('Italiano') }}</button>
    </form>
    <form method="post" action="{{ url_for('change_language', language='ca') }}">
        <button type="submit">{{ _('Català') }}</button>
    </form>
    {% endif %}
</div>
{% endblock %}