{% extends 'base.html' %}

{% block content %}
    <h2>Inicio de Sesión</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username(size=32) }} <br>
            {% for error in form.username.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <div role="button">
            {{ form.submit() }} <br>
        </div>
    </form>
{% endblock %}