{% extends 'base.html' %}

{% block title %}{{ _('Reset Password') }}{% endblock %}

{% block content %}
    <h2>{{ _('Reset Password') }}</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder=_("New password")) }}
            {% for error in form.password.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password2.label(class="form-label") }}
            {{ form.password2(class="form-control", placeholder=_("Confirm new password")) }}
            {% for error in form.password2.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}